body {
    background-color: black;
    font-family: "Quicksand", sans-serif;
    color: white;
}

.navbar {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar.bg-dark {
    background-color: #343a40 !important;
}

.navbar.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.titulo {
    font-size: 2rem;
    font-weight: bold;
}

.card-img-top {
    width: 100%;
    height: 250px;
}

.card-body {
    background-color: skyblue;
    color: white; 
}

footer{
    background-color: skyblue;
}

.iconos a{
    color: white;
}